@{
    ViewData["Title"] = "Contatti";
}

<div class="container text-center">
    <h1 class="my-5">@ViewData["Title"]</h1>
    <h2 class="my-5">Dove siamo:</h2>
    <img class="img-thumbnail border border-danger" src="~/IMG/dovesiamo.png" alt="WALLPAPER" />
</div>