@{
    ViewData["Title"] = "Credits";
}

<div class="text-center">
    <h1 class="my-5">@ViewData["Title"]</h1>
    <h2 class="my-3">Sviluppatori BackEnd e DB: </h2>
    <h4>Paul Pascut</h4>
    <h4>Lorenzo Galetta</h4>
    <h4>Eduardo Bleve</h4>

    <h2 class="my-3">Sviluppatori FrontEnd: </h2>
    <h4>Vincenzo Galdino</h4>
    <h4>Alex Mihai</h4>
</div>