@{
    ViewData["Title"] = "Privacy Policy";
}


<div class=" container mt-5 text-center">

    <h1 class="my-5">@ViewData["Title"]</h1>

    <p>Questa Normativa sulla privacy descrive come i dati personali vengono raccolti, utilizzati e protetti quando visiti il nostro sito web.</p>

    <h2>Raccolta dei dati</h2>

    <p>Raccogliamo informazioni personali come nome, indirizzo email e informazioni sul dispositivo quando visiti il nostro sito web. Possiamo anche raccogliere informazioni sulle pagine visitate e sui link cliccati.</p>

    <h2>Utilizzo dei dati</h2>

    <p>Utilizziamo i dati raccolti per personalizzare l'esperienza dell'utente e per fornire informazioni sul nostro sito web. Possiamo anche utilizzare i dati per contattare gli utenti per ricerche di mercato o per fornire informazioni su prodotti e servizi aggiuntivi.</p>

    <h2>Protezione dei dati</h2>

    <p>Ci impegniamo a proteggere i dati personali dei nostri utenti. Utilizziamo misure di sicurezza tecniche e amministrative per proteggere i dati da accessi non autorizzati, modifiche o distrutti.</p>

    <h2>Condivisione dei dati</h2>

    <p>Non condividiamo i dati personali degli utenti con terze parti, eccetto quando richiesto dalla legge o per fornire i servizi richiesti dagli utenti.</p>

    <h2>Modifiche alla normativa sulla privacy</h2>

    <p>Ci riserviamo il diritto di modificare questa Normativa sulla privacy in qualsiasi momento. Gli utenti verranno informati delle modifiche tramite una notifica sul sito web.</p>

</div>